configuration {
  modes: "drun,run,window";
  show-icons: true;
  drun-display-format: "{name}";
  display-drun: "Apps";
  display-run: "Run";
  display-window: "Windows";
  font: "JetBrains Mono 11";
  icon-theme: "Flat-Remix-Blue-Dark";
  matching: "fuzzy";
  terminal: "alacritty";
  location: 0;
  hover-select: true;
}

@theme "~/.config/rofi/nord.rasi"
